<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="danger" defaultHref="stream"></ion-back-button>
    </ion-buttons>
    <ion-title class="text">Crear demanda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content text-center>
  <ion-item>
    <ion-label position="floating">Materia</ion-label>
    <ion-input [(ngModel)]="subject"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="floating">Nivel</ion-label>
    <ion-select [(ngModel)]="level" okText="Aceptar" cancelText="Cancelar">
      <ion-select-option value="basico">Basico</ion-select-option>
      <ion-select-option value="intermedio">Intermedio</ion-select-option>
      <ion-select-option value="avanzado">Avanzado</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Modelo</ion-label>
    <ion-select [(ngModel)]="model" okText="Aceptar" cancelText="Cancelar">
      <ion-select-option value="individual">Individual</ion-select-option>
      <ion-select-option value="grupal">Grupal</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-text>Movilidad</ion-text>
    <ion-checkbox slot="end" color="success" [(ngModel)]="mobility"></ion-checkbox>
  </ion-item>
</ion-content>

<ion-footer>
      <div class="btnPosition" *ngIf="isValidForm()">
      <ion-button color="danger" shape="round" (click)="createDemand()">Publicar</ion-button>
      </div>
</ion-footer>