<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="danger"></ion-back-button>
    </ion-buttons>
    <img src="assets/Logo.png" height="42" width="42" class="center" />
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item color="danger">
      <ion-checkbox slot="start" id="check" color="dark" [(ngModel)]="teacher" (ionChange)="estado()">
      </ion-checkbox>
      <ion-text id="text">Profesor</ion-text>
    </ion-item>
    <ion-card-content *ngIf="teacher">
      <h2>Ubicación</h2>
      <ion-button expand="block" color="danger" (click)="getUserLocation()">Dar ubicación</ion-button>

      <ion-item>
        <ion-label position="floating">Titulación</ion-label>
        <ion-input [(ngModel)]="tittle"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input [(ngModel)]="nameUserTeacher"></ion-input>
      </ion-item>

    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item color="danger">
      <ion-text id="text">Alumno</ion-text>
    </ion-item>
    <ion-card-content *ngIf="!teacher">
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input [(ngModel)]="nameUserStudent"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <div class="align" *ngIf="okButton()">
    <ion-button size="large" color="danger" class="roundButton" (click)="crearPerfil()">Crear perfil</ion-button>
  </div>

</ion-content>