.titulo{
    text-align: start;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
}

.center {
    display: block;
    margin-left: 40%;
    margin-right: auto;
}

.btnPosition{
    margin-top: 5%;
}