<ion-header no-border>
    <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button color="danger"></ion-back-button>
        </ion-buttons>
        <img src="assets/Logo.png" height="42" width="42" class="center"/>
      </ion-toolbar>      
</ion-header>

<ion-content text-center padding>
    <h1 id="titulo">Crea tu cuenta</h1>
    <div class="container">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
              <ion-item>
                <ion-label position="floating">Email</ion-label>
                <ion-input class="form-control" formControlName="email" type="email" pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$"></ion-input>
            </ion-item>
            <div class="error-messages">
                <ng-container *ngFor="let error of error_messages.email">
                    <div class="error-message"
                        *ngIf="registerForm.get('email').hasError(error.type) && (registerForm.get('email').dirty || registerForm.get('email').touched)">
                        {{ error.message }}
                    </div>
                </ng-container>
            </div>

            <ion-item>
                <ion-label position="floating">Contraseña</ion-label>
                <ion-input formControlName="password" type="password"></ion-input>
            </ion-item>
            <div class="error-messages">
                <ng-container *ngFor="let error of error_messages.password">
                    <div class="error-message"
                        *ngIf="registerForm.get('password').hasError(error.type) && (registerForm.get('password').dirty || registerForm.get('password').touched)">
                        {{ error.message }}
                    </div>
                </ng-container>
            </div>

            <ion-item>
                <ion-label position="floating">Confirma tu contraseña</ion-label>
                <ion-input class="form-control" formControlName="confirmpassword" type="password"></ion-input>
            </ion-item>
            <div class="error-messages">
                <ng-container *ngFor="let error of error_messages.confirmpassword">
                    <div class="error-message"
                        *ngIf="registerForm.get('confirmpassword').hasError(error.type) && (registerForm.get('confirmpassword').dirty || registerForm.get('confirmpassword').touched)">
                        {{ error.message }}
                    </div>
                </ng-container>
                <div class="error-message"
                    *ngIf="!registerForm.get('confirmpassword').errors && registerForm.hasError('passwordNotMatch') && (registerForm.get('confirmpassword').dirty || registerForm.get('confirmpassword').touched)">
                    Las contraseñas no coinciden
                </div>
            </div>
            <ion-button size="large" color="danger" [disabled]="!registerForm.valid" type="submit" class="roundButton">Registrar</ion-button>
        </form>

    </div>
</ion-content>