.text{
    font-size: 25px;
    color: #f25454;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.btnPosition{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}