<ion-header no-border>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button color="danger" defaultHref="stream"></ion-back-button>
      </ion-buttons>
      <ion-title class="text">Cambiar contraseña</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content text-center padding>
  <div class="container">
      <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
          <ion-item>
              <ion-label position="floating">Contraseña</ion-label>
              <ion-input formControlName="password" type="password"></ion-input>
          </ion-item>
          <div class="error-messages">
              <ng-container *ngFor="let error of error_messages.password">
                  <div class="error-message"
                      *ngIf="passwordForm.get('password').hasError(error.type) && (passwordForm.get('password').dirty || passwordForm.get('password').touched)">
                      {{ error.message }}
                  </div>
              </ng-container>
          </div>

          <ion-item>
              <ion-label position="floating">Confirma tu contraseña</ion-label>
              <ion-input class="form-control" formControlName="confirmpassword" type="password"></ion-input>
          </ion-item>
          <div class="error-messages">
              <ng-container *ngFor="let error of error_messages.confirmpassword">
                  <div class="error-message"
                      *ngIf="passwordForm.get('confirmpassword').hasError(error.type) && (passwordForm.get('confirmpassword').dirty || passwordForm.get('confirmpassword').touched)">
                      {{ error.message }}
                  </div>
              </ng-container>
              <div class="error-message"
                  *ngIf="!passwordForm.get('confirmpassword').errors && passwordForm.hasError('passwordNotMatch') && (passwordForm.get('confirmpassword').dirty || passwordForm.get('confirmpassword').touched)">
                  Las contraseñas no coinciden
              </div>
          </div>
          <ion-button class="btnPosition" size="large" color="danger" [disabled]="!passwordForm.valid" type="submit"
              shape="round">
              Confirmar</ion-button>
      </form>

  </div>
</ion-content>