.padding{
    padding-top: 10%;
    padding-bottom: 20px;
    
}
ion-slides{
    padding-top:10%;
    padding-bottom: 30px;
    --bullet-background: red ;
    --bullet-background-active: red;
}

.buttons{
    padding-top:5%;
}